*{
    padding: 0;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    max-height: 100vh;
    /* max-width: 100%; */
    text-align: center;
    font-family: sans-serif;
    padding: 50px;
}
header{
    /* background-color: #fce7e8; */
}
.header{
    padding-top: 8%;
}
#header-link1{
    text-decoration: none;
    color: red;
}
.header-link2{
    text-decoration: none;
    color: red;
}
.header-link3{
    text-decoration: none;
    color: red;
}

.nav{

}

#nav-link1{
    text-decoration: none;
    background-color: red;
    padding: 7px;
    color: #fff;
}
#nav-link2{
    text-decoration: none;
    background-color: #fff;
    padding: 7px;
    color: red;
    border: 1px solid red;
}

.main-container{
    margin: 20%;
    color: rgb(77, 75, 75);
}
.main-container > #parg{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containerbox{
    display: flex;
    text-align: left;
}

.container-content{
    padding: 20px;
    color: gray;
}
.container-content > p{
    text-align: left;
}
#container-link{
    text-decoration: none;
    color: red;
}
.container-content2{
    padding: 20px;
    color: gray;
    margin-left: auto;
    margin-right: auto;
}
.container-content2 > p{
    text-align: left;
}
#container-link2{
    text-decoration: none;
    color: red;
}

.container-content3{
    padding: 20px;
    color: gray;
    margin-left: auto;
    margin-right: auto;
}
.container-content3 > p{
    text-align: left;
}
#container-link3{
    text-decoration: none;
    color: red;
}

.containerbox2{
    display: flex;
    margin-top: 30%;
    color: rgb(100, 99, 99);
    /* flex-direction: row; */
    text-align: left;
    padding: -30%;
    justify-content: space-between;
}
.bottom-store >p{
    color: rgb(236, 86, 86)
}
#contact-email{
    color: rgb(236, 86, 86);
    text-decoration: none;
    font-size: 14px;
}
.contact-us > a{
    text-decoration: none;
}
.contact-us > a > img{
    width: 30px;
}

.end{
    margin-bottom: 5%;
}